* {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  font-family: 'Special Elite', Courier New;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/*only screen and */

@media (min-width: 300px) and (max-width: 570px){

  div#browser {
    display: none;
  }

  div#mobile {
    max-height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  img.trapezoid {
    z-index: -2;
    height: 105%;
    position: absolute;
    margin-top: -8%;
    margin-left: -72%;
  }

  div.top_line_1 {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 4%;
  }

  div.top_line_2 {
    width: 100%;
    height: 7px;
    background-color: black;
    margin-top: 4px;
  }

  div.brand_mobile {
    width: 100%;
    height: 30%;
    position: relative;
  }

  .brand_mobile img.logo {
    position: relative;
    width: 40%;
    margin-top: 3%;
  }

  .brand_mobile img.brand_name {
    position: relative;
    width: 80%;
    margin-top: -10%;
  }

  .brand_mobile h2 {
    position: relative;
    font-size: 7vw;
    font-family: Times New Roman;
    font-weight: normal;
    margin-top: -15%;
  }

  img.slashes {
    position: absolute;
    height: 450%;
    z-index: -1;
    left: 0;
    top: -40%;
  }

  div.schedule_mobile {
    position: relative;
    width: 100%;
    height: 30%;
    margin-top: 10%;
  }

  div.schedule_mobile p {
    font-size: 1.25em;
    margin-bottom: 4%;
  }

  div.days {
    float: left;
    width: 44%;
    text-align: right;
    font-size: 1.2em;
    line-height: 1.7;
  }

  div.hours {
    float: right;
    width: 50%;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.7;
  }

  span.capital {
    font-size: 1.25em;
    line-height: 0.8;
  }

  span.small_cap {
    font-size: 0.9em;
  }

  img.menu {
    margin-top: -20%;
    width: 70%;
    margin-bottom: -20%;
  }

  p.phone a {
    font-size: 1.5em;
    margin-bottom: 5%;
    color: black;
  }

  div.bottom_line_1 {
    margin-top: 3%;
    width: 100%;
    height: 4px;
    background-color: black;
  }

  div.bottom_line_2 {
    width: 100%;
    height: 7px;
    background-color: black;
    margin-top: 4px;
    margin-bottom: 4%;
  }

}

@media (min-width: 768px) {

  div#mobile {
    display: none;
  }

  div#browser {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  img.triangle {
    z-index: -2;
    right: 0;
    top: 0;
    width: 100%;
    position: relative;
  }

  div.brand_browser {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  div.circle {
    position: absolute;
    border-radius: 100%;
    background-color: #FFF112;
    width: 26%;
    height: 13%;
    z-index: -1;
    margin-left: 20%;
    margin-top: 10%;
  }

  img.brandname2 {
    width: 70%;
    margin-top: 8%;
  }

  div.brand_browser h2 {
    font-family: Times New Roman;
    font-weight: normal;
    font-size: 5vw;
    margin-top: -13%;
  }

  img.slashes2 {
    width: 140%;
    margin-top: -55%;
    z-index: -1;
  }

  div.manifest {
    position: relative;
    margin-top: -145%;
    padding: 10%;
    z-index: 1;
  }

  div.manifest p {
    line-height: 1.25;
    margin-bottom: 3%;
  }

  img.menu2 {
    width: 40%;
    margin-top: -22%;
    z-index: 10;
    position: relative;
  }

  img.menu2:hover {
    transform: scale(1.2);
  }

  div.schedule_browser {
    width: 100%;
    line-height: 1.5;
    position: relative;
    margin-top: -10%;
  }

  div.schedule_browser h2 {
    font-size: 2em;
  }

  div.days {
    float: left;
    width: 47%;
    text-align: right;
    font-size: 1.2em;
    margin-bottom: 4%;
  }

  div.hours {
    float: right;
    width: 50%;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 4%;
  }

  span.capital {
    font-size: 1.25em;
    line-height: 0.8;
  }

  span.small_cap {
    font-size: 0.9em;
  }

  div.contact {
    width: 100%;
    position: relative;
  }

  div.contact h2 {
    font-size: 2em;
    margin-bottom: 2%;
  }

  div.contact p {
    font-size: 1.2em;
    margin-bottom: 3%;
  }

  div.contact a:hover {
    font-size: 1.21em;
  }

  div.logo {
    width: 100%;
    height: 20%;
    position: relative;
  }

  div.logo img {
    width: 12%;
    float: right;
    margin-left: -1%;
  }

  div.bottom_line_3 {
    width: 100%;
    height: 4px;
    background-color: black;
    margin-top: 12%;
  }

  div.bottom_line_4 {
    width: 100%;
    height: 8px;
    background-color: black;
    margin-top: 5px;
  }

  div.yellow {
    background-color: #FFF112;
    padding-bottom: 2%;
  }

  img.triangle {
    z-index: -2;
    top: 0;
    position: absolute;
  }
}
