/*

414 x 736
400 x 640
375 x 667
360 x 640
320 x 533
320 x 480

min 320 max 415

*/

@media (max-width: 415px) {

  * {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Courier New;
    overflow: auto;
  }

  img.brand2,
  img.slogan,
  div.location_block,
  img.logo,
  img.browser_background {
    display: none;
  }

  img.mobile_background1 {
    z-index: -1;
    position: fixed;
    bottom: 9.5%;
    margin-left: -45%;
    width: 90%;
  }

  div.line1,
  div.line2,
  div.line3,
  div.line4 {
    background-color: black;
    width: 80%;
    margin: auto;
  }

  div.line1,
  div.line3 {
    height: 2px;
    margin-top: 7%;
  }

  div.line3 {
    margin-top: 1%;
  }

  div.line2,
  div.line4 {
    height: 4px;
    margin-top: 3px;
  }

  img.yellow_logo {
    display: block;
    margin: 5% auto 0;
  }

  img.brand1 {
    margin-top: -6%;
  }

  h2 {
    font-size: 1.10em;
    font-weight: normal;
    margin-top: -9%;
  }

  div.divide {
    width: 100%;
  }

  div.divide img {
    width: 70%;
    margin: auto;
  }

  div.menu h2 {
    font-size: 1.25em;
    margin-top: -1.5%;
  }

  div.operation {
    margin-top: 3.5%;
  }

  p.star {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
    margin: 1% auto 4%;
  }

  p.day {
    font-size: 1.5em;
    margin-top: 4%;
  }

  p.hours {
    font-size: 1.25em;
  }

  img.squiggle {
    display: relative;
    z-index: -1;
    margin-top: -70%;
    margin-left: 75%;
    margin-bottom: 5%;
  }

  p.call {
    margin-top: 4%;
    margin-bottom: 1%;
  }

  div.location_line {
    margin-bottom: 2%;
  }

}
